.main {
  width: 980px;
  height: 455px;
  margin-left: 220px;
  margin-top: 10px;
}
.focus {
  float: left;
  width: 721px;
  height: 455px;
}
.newsflash {
  float: right;
  width: 250px;
  height: 455px;
}
.news {
  height: 165px;
  border: 1px solid #e4e4e4;
}
.news-hd {
  height: 33px;
  line-height: 33px;
  border-bottom: 1px dotted #e4e4e4;
  padding: 0 15px;
}
.news-hd h5 {
  float: left;
  font-size: 14px;
  font-weight: 400;
}
.news-hd .more {
  float: right;
}
.news-hd .more::after {
  font-family: "icomoon";
  content: "\e91b";
}
.news-bd {
  margin: 5px 15px 0;
}
.news-bd ul li {
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.lifeservice {
  overflow: hidden;
  height: 209px;
  /* background-color: beige; */
  border: 1px solid #e4e4e4;
  border-top: 0;
}
.lifeservice ul {
  width: 252px;
}
.lifeservice ul li {
  float: left;
  width: 63px;
  height: 71px;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  text-align: center;
}
.lifeservice ul li i {
  display: inline-block;
  width: 24px;
  height: 28px;
  margin-top: 12px;
}
.lifeservice ul li:nth-of-type(1) i {
  background: url(../images/jlt.png) no-repeat -16px -15px;
}
.lifeservice ul li:nth-of-type(2) i {
  background: url(../images/jlt.png) no-repeat -79px -15px;
}
.lifeservice ul li:nth-of-type(3) i {
  background: url(../images/jlt.png) no-repeat -142px -15px;
}
.lifeservice ul li:nth-of-type(4) i {
  background: url(../images/jlt.png) no-repeat -205px -15px;
}
.lifeservice ul li:nth-of-type(5) i {
  background: url(../images/jlt.png) no-repeat -16px -84px;
}
.lifeservice ul li:nth-of-type(6) i {
  background: url(../images/jlt.png) no-repeat -79px -84px;
}
.lifeservice ul li:nth-of-type(7) i {
  background: url(../images/jlt.png) no-repeat -142px -84px;
}
.lifeservice ul li:nth-of-type(8) i {
  background: url(../images/jlt.png) no-repeat -205px -84px;
}
.lifeservice ul li:nth-of-type(9) i {
  background: url(../images/jlt.png) no-repeat -16px -156px;
}
.lifeservice ul li:nth-of-type(10) i {
  background: url(../images/jlt.png) no-repeat -79px -156px;
}
.lifeservice ul li:nth-of-type(11) i {
  background: url(../images/jlt.png) no-repeat -142px -150px;
}
.lifeservice ul li:nth-of-type(12) i {
  background: url(../images/jlt.png) no-repeat -205px -156px;
}
.bargain {
  margin-top: 5px;
}
/* 推荐模块 */
.recom {
  height: 163px;
  background-color: #ebebeb;
  margin-top: 12px;
}
.recom_hd {
  float: left;
  height: 163px;
  width: 205px;
  background-color: #5c5251;
  text-align: center;
  padding-top: 30px;
}
.recom_bd {
  float: left;
}
.recom_bd ul li {
  position: relative;
  float: left;
}
.recom_bd ul li img {
  width: 248px;
  height: 163px;
}
.recom_bd ul li:nth-child(-n + 3)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 10px;
  width: 1px;
  height: 145px;
  background-color: #ddd;
}
/* 猜你喜欢 */
.like {
  height: 270px;
  margin-top: 10px;
}
.like_hd {
  height: 40px;
  line-height: 40px;
}
.like_hd h4 {
  float: left;
  font-size: 16px;
}
.like_hd p {
  float: right;
  margin-right: 20px;
}
.like_hd p::after {
  font-family: "icomoon";
  content: "\e982";
  margin-left: 3px;
}
.like_bd {
  height: 230px;
  width: 1210px;
}
.like_bd ul li {
  float: left;
  margin-left: -1px;
  border: 1px solid #ddd;
  width: 201px;
  height: 230px;
  text-align: center;
}
.like_bd ul li h6 {
  padding: 0 35px;
  font-size: 12px;
  font-weight: 400;
}
.like_bd ul li i {
  padding: 0 35px;
  font-size: 16px;
  color: #c81623;
  font-style: italic;
}
/* 家用电器模块 */
.box_hd {
  height: 30px;
  border-bottom: 2px solid #c81623;
}
.box_hd h3 {
  float: left;
  font-size: 18px;
  color: #c81623;
  font-weight: 400;
}
.tab_list {
  float: right;
}
.tab_list ul li {
  float: left;
  line-height: 30px;
}
.tab_list ul li a {
  margin: 0 15px;
}
.floor .w {
  margin-top: 30px;
}
.box_bd {
  height: 361px;
}
.tab_list_item > div {
  float: left;
  height: 361px;
}
.col_210 {
  width: 210px;
  background-color: #f9f9f9;
  text-align: center;
}
.col_210 ul {
  padding-left: 12px;
  height: 102px;
  margin-bottom: 10px;
}
.col_210 ul li {
  margin-right: 10px;
  float: left;
  width: 85px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
.col_329 {
  width: 329px;
}
.col_221 {
  width: 221px;
  border-right: 1px solid #ccc;
}
.col_219 {
  width: 219px;
}
.bb {
  /* 一般情况下，a如果包含有宽度的盒子，a需要转为块级元素 */
  display: block;
  border-bottom: 1px solid #ccc;
}
